/survey/node_modules
/survey/public/build
/survey/public/hot
/survey/public/storage
/survey/storage/*.key
/survey/vendor
/survey/.env
/survey/.env.backup
/survey/.env.production
/survey/.phpunit.result.cache
/survey/Homestead.json
/survey/Homestead.yaml
/survey/auth.json
/survey/npm-debug.log
/survey/yarn-error.log
/.fleet
/.idea
/.vscode
